
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    margin: auto;
    width:1350px;
}
.all_body_part{}
/* ---------Header Part--------*/
.header-up{
    width: 100%;
    display: inline-flex;
    height: 46px;
    background-color: #FEF7F6;
    justify-content: center;
}
.header-up-left{
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.header-up-left ul li{
    margin-left: 9px;
    display: inline-flex;
    font-size: 15px;
}

.header-up-left ul li a{
    color: black;
    font-size: 15px;
    text-decoration: none;

}
.header-up-left ul li a:hover{
    color: rgb(233, 231, 231);
    transition: 1s;

}
.header-up-right{
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    padding-right: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.header-up-right ul{}
.header-up-right ul li{
    margin-left: 9px;
    display: inline-flex;
    font-size: 13px;
}
.header-up-right ul li a{ 
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.header-up-right ul li a:hover{
    color: rgb(238, 238, 238);
    transition: 1s;

}
.header-down{
    width: 100%;
    height: 85px;

    display: inline-flex;
}
/* ---------LOGO_PART--------*/
.logo_part{
    width: 23%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    align-items: center;
   
}
.logo_part h1{
    font-family: 'Oxygen', sans-serif;
}
..logo_part h1:hover{
 color: salmon;
 transition: 0.5s;
}
.logo_part h1 span{
    font-size: 45px;
    color: red;
}
/* ---------mENU-part--------*/
.menu-part{
    font-family: 'Noto Sans JP', sans-serif;
    width: 57%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}
.menu-part nav{}
.menu-part nav ul{
    list-style: none;
}
.menu-part nav ul li{
    display: inline-flex;
    padding: 12px;
}
.menu-part nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.menu-part nav ul li a:hover{
    color: red;
    transition: 0.5s;
}
.icon-part{
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-icon{
 font-size: 20px;
 padding: 12px;
}
.heading-icon:hover{
    color: red;
    transition: 0.5s;
}
/* ---------landing-part--------*/

.landing-one{
    width: 100%;
    height: 500px;
   background-image: url(../images/bg-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}
.landing-page{
  display: inline-flex;
    text-align: center;
  
    width: 100%;
    height: 100%;
 
}
.landing-content{
    margin-top: 133px;
    margin-left: 147px;
    font-family: 'Noto Sans JP', sans-serif;
}
.landing-content h5{
    color: red;
    font-weight: 600;
    font-size: 17px;
}
.landing-content h1{
    font-size: 52px;
    font-weight: 900;
    font-family: 'Oxygen', sans-serif;
}
/* ---------bannar0ne-part--------*/
.img-in-banar0ne{
    width: 50%;
    height: 100%;
}
.img-in-banar0ne img{
   width: 100%;
   height: 100%;
}
/* ---------albutton?-part--------*/
.all-button{
    width: 132px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    background: red;
    border: none;
}
.all-button:hover{
    background-color: transparent;
    border: 2px solid white;
}
.fetured-product{}
.featured-head{
    width: 100%;
}
.all_heading{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    margin: 30px auto;
}
.featured-contain{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    
}
.fetured-product-card{
  
    margin: 27px 21px;
    width: 360px;
    text-align: center;
    height: 517px;
}
.fetured-product-card img{
    width: 100%;
}
.fetured-product-card p{
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(175, 166, 166);
}
.star-symbol{}
.star-symbol p{}

.second_landing-page{
    margin: 37px auto;
    display: inline-flex;
    background: #EAE2D8;
    width: 100%;
    height: 370px;
}
.second-landing-pages-pic{
    width: 50%%;
}
.second-landing-pages-pic img{
    width: 100%;
    margin-left: 42px;
    height: 100%;
}
.landingpages-contain{
    text-align: center;
    width: 50%;
}
.landingpages-contain button{

}
.landingpages-contain h1{
    font-size: 58px;
    margin-top: 96px;
    font-family: 'Dancing Script', cursive;
}
.landingpages-contain p{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    padding: 15px;
}

.most-popular-pars{
   width: 100%;
   height: 510px;
    }



.werp-mpp{
    margin: 0px auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.popular-item{
    text-align: center;
}
.popular-item img{}
.popular-item h3{}
.popular-item p{}
.service-part{
    margin: 85px 0px;
}

.sevice-box-wrep{

    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
.service-box-item{
    text-align: center;
    height: 154px;
    padding: 15px;
    width: 19%;
    border: 3px solid #dac5c5e6;
}
.service-box-item img{}
.service-box-item h2{
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
}
.service-box-item p{}
.treding-Part{}

.trending-card-row-0ne{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;

}
.trending-card-item{
    text-align: center;
     margin: 11px 0px;
}
.trending-card-item img{}
.trending-card-item h3{
    font-family: 'Rubik', sans-serif;
}
.trending-card-item p{}
.trending-card-row-two{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.journel-silon{}

.container{
    padding: 18px 0px;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    
}
.bolog-card-1{
    width: 31%;

}
.bolog-card-1 img{
    width: 100%;
}
.bolog-card-1 p{
    font-family: 'Roboto Condensed', sans-serif;
}
.bolog-card-1 h3{
    padding: 4px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 2px solid rgba(100, 96, 90, 0.966);
}
.comments-number{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

}

.date-bg{
    margin-top: 2px;
    padding: 2px 30px;
    color: rgba(100, 96, 90, 0.966);
    position: relative;
}
.date-bg::before{
    content: " ";
    left: 0px;
    background-color: red;
    height: 9px;
    width: 20px;
    position:absolute;
}
.me_nts-number{
    width: 50%;
}
.me_nts-number h4{
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    color: rgba(100, 96, 90, 0.966);
}

.follow-up{}
.grile-pc{}
.picture-flex{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 38px 2px;

}

.all_footer{
    width: 100%;
    height: 430px;
    background-color: #E9E2D8;
}
.footer-up{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 82px 0px 0px 0px;
    margin-left: 115px;
}
.about-us{
    width: 20%;
}
.footer-head{
    padding: 8px 0px;
    margin-bottom: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}
.list_style{
    list-style-type: none;

}
.list_style  li{
    font-family: 'Noto Sans JP', sans-serif;
    color: #a2a09c;
    padding: 4.5px;
}
.use-link{
    width: 20%;
}
.use-link ul{}
.use-link ul li{}

.oneline-shoping{
    width: 20%;
}
.oneline-shoping ul{}
.oneline-shoping ul li{}
.app-socail-link{
    width: 37%;
}
.app-link{
    display: inline-flex;

}
.gogle-link{
    border-radius: 6px;
    display: inherit;
    width: 164px;
    background: white;
}
.gogle-link i{
    color: red;
    font-size: 46px;
    text-align: center;
    padding: 5px 5px;
}
.gogle-link p{
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    color: red;
}
.gogle-link p span{ 
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}

.apple-link{
    border-radius: 6px;
    margin-left: 9px;
    display: inherit;
    width: 164px;
    background: rgb(231, 12, 12);
}
.apple-link i{
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 5px 5px;
}
.apple-link p{
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}
.apple-link p span{
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}
.socal-link{
    display: inline-flex;
}
.facebook:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.2s;
}
.tweter:hover{
    background-color: rgb(132, 1, 255);
    color: white;
    transition: 0.2s;
}
.social-icon{
    font-size: 24px;
    background: white;
    padding: 10px;
    margin: 0px 8px;
    width: 44px;
    height: 46px;
}
.pin-star:hover{
    background-color: rgb(230, 41, 16);
    color: white;
    transition: 0.2s;
}
.instagram:hover{
    background-color: rgb(143, 86, 197);
    color: rgb(228, 213, 213);
    transition: 0.2s;
}

.footer-dawon{
    color: #7d867d;
    text-align: center;
    font-size: 22px;
    margin-top: 83px;
    font-family: 'Noto Sans JP', sans-serif;
}
.copy-writw{}
.copy-writw a{
text-decoration: none; 
color: blue
;   
}


.price{
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: black !important;
}
